<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/internal-nlog-diagnostics.txt" internalLogLevel="Trace" >
	<targets>
		<target xsi:type="File" name="testfile" fileName="logs/nlog-test.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="testfile" />
	</rules>
</nlog>